<div class="d-flex justify-content-between align-items-center mt-3">
  <!-- LEFT -->
  <div>Page {{ page() }} of {{ totalPages() }}</div>

  <!-- CENTER -->
  <div class="btn-group">
    <button class="btn btn-outline-secondary" (click)="prev()" [disabled]="page() === 1">
      Prev
    </button>

    <button class="btn btn-outline-secondary" (click)="next()" [disabled]="page() === totalPages()">
      Next
    </button>
  </div>

  <!-- RIGHT -->
  <div>
    <select class="form-select" (change)="changeSize($any($event.target).value)">
      <option value="3">3</option>
      <option value="6" selected>6</option>
      <option value="9">9</option>
    </select>
  </div>
</div>
