.app-banner {

    background: linear-gradient(135deg,#ff018d,#61054b);
  
    color: white;
  
    padding: 16px 24px;
  
    display: flex;
  
    flex-direction: column;
  
  }
  
  .banner-title {
  
    display: flex;
  
    align-items: center;
  
    gap: 12px;
  
  }
  
  .banner-title h1 {
  
    margin: 0;
  
    font-size: 1.8rem;
  
  }
  
  .pizza-icon {
  
    font-size: 2rem;
  
  }
  
  .subtitle {
  
    font-size: 0.9rem;
  
    opacity: .9;
  
  }
  
  .app-layout {
  
    display: flex;
  
    height: calc(100vh - 70px);
  
  }
  
  .app-view {
  
    flex: 1;
  
    padding: 24px;
  
    background: #ffeeee;
  
    overflow: hidden;
  
  }

  app-dashboard {
    position: absolute;
  }

  .app-main {
    min-height: calc(100vh - 70px - 200px);
  }